
@media (min-width: 1024px) {
 
    .custom-input-group textarea{background:rgba(245,245,245,.7);border:1px solid rgba(255,72,56,.15);box-sizing:border-box;border-radius:30px;width:50%;}
    .location-disc-logos{
        width:500px !important;
        margin-left: -500px;
        margin-top:-200px
    }

}
@media (min-width: 500px) and (max-width: 767px){
    .form-subscribe{
        max-width: 100% !important;
    }
    
    .card-clip{
        width:340vw !important;
    }
}


@media (min-width: 991px) and (max-width: 1024px){
.card-clip {
    height: 70vh;
}
.breadcrumb-style-one h2 {
    transform: translateY(40px);
}
}
@media (max-width: 768px){
    .modal-packages {
        margin-top: 25%;
    }

    .button-fill-primary, .button-outlined-primary{
        width: 100%;
    }
}
#Group_3903{
    display: none;
}
@media (min-width: 991px) and (max-width:1200px){
    .form-subscribe{

        max-width: 90%;
    }
}
@media (min-width: 1200px) and (max-width:1400px){
    .form-subscribe{
        padding-left: 100px !important;
        margin:auto;
        max-width: 70%;
    }
}
@media (min-width: 768px) {
    .comments textarea{
        width: 100% !important;
    }
    .submit-packages{
        margin-top:0px !important;
    }
    .modal-packages {
        margin-top: 6%;
    }
    .btn-hero:hover a{
        color:#000 !important;
    }

    .btn-hero {
        border:1px solid #fff !important;
        background:transparent;
        padding: 5px 20px;
        border-radius: 5px;
        margin-top: 3%;
 
    }
    .btn-hero a{
        color:#fff !important;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .world-map-wrap{
        margin-bottom: -10px;
    }
    .img-niu {

        margin: auto;
    }
    .img-map-left{
        text-align: left;
    }
   .w-des-40{
    width: 25%;
   }
   .w-des-20{
    width: 20%;
   }
   .table-striped tr{
    height: 70px;
   }
    .icon-check p{
        text-align: justify;
          }
    .custom-input-group{
        width: 100%;
    }

    .custom-input-group .date{
text-align: end;
    }
    .breadcapad{
background-position-y: -100px !important;
    }
    .section-head-alpha h2{
        font-size: 30px;
    }
    .hero-style-four .hero4-content{
        top:40%;
        left:6%;
    }
    .mt-80{
        margin-top: 80px;
    }
    .DubaiContent img{
        height: 80%;
        padding: unset !important;
    }
 
    .image-niu-map {
        width: 50% !important;
        padding: 10px;
        }
    .join-breacr{
        height: 60vh !important;
         }
    .line-orange {
        margin-left: 740px;
    }
    .line-orange-one{
        margin-left: 435px;
    }
    .center-prince-width{
        max-width: 100%;
     
    }
    .hero-content-about-txt{
top:50% !important;
    }
    .section-dubai {
        padding-top:50px !important
    }
    .slider-bg-2{
        animation:zoomin 10s ease-in infinite alternate; 
        transition: all .5s linear;  
      }
      .hero4-content{
        animation:zoomin 0s !important; 
      }
    @keyframes zoomin {

        0%{
            transform:scale(1.1)
        }
        100%{transform:scale(1)
        }
          }
    .sibling-2{
        left:45%;
    }
.swiper-pagination-bullet{
    width: 100px !important;
    height: 70px !important;
}

    .hr-lines:before{
display: none;
      }
      .hr-lines:after{
display: none;
      }
    .form-subscribe .button-fill-primary{
        width: 140px;
    }
    .partner-single{
        width:50%;
    }
    .hero-style-four .slider-bg-1{
        height: 100vh;
    }
    .slider-bg-about{
        height: 80vh !important;
    }
    .text-welcme{
        text-align: center;
        padding: 10px 45px;
    }
.htdr-sections{
    max-width: 100% !important;
}
    .more-rec p{
        height: 90px;
    }
    .more-rec h2, .more-rec p{
        color:#000 !important
    }
    .hero-style-four .hero4-content p{
        font-size: 30px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom:7% !important;
    }
    
    .swiper-pagination-bullet{
        width:100px !important;
        height:100px !important;
        border-radius: 23px !important;
        background-repeat: no-repeat !important;
        background-size: cover;
opacity: 1 !important;
        background-position: center !important;
        margin-left: 20px !important;

      }
    .hero4-content{
        max-width: 45%;
    }
    .testimonial-card-alpha{
        min-height: 450px;
    }
    .testimonial-card-alpha .testimonial-body p{
        height: 100px;
    }
    .circle-div{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: -70px;
    }
    .hero-style-four{
        height:95vh;
    }
    .hero-main-wrapper {
        height:100vh;
        z-index: 1;
    }
}

@media (max-width:768px){
    .map-mobile .world-map-background img {
        width:100% !important;
        margin-top: 10%;
    }
}


@media (max-width:767px){
    .img-logo-home-mobile{

    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        color:white !important;
    }
    .swiper-button-prev{
        color:white !important;
    }
    .img-logo-home-mobile .swiper-pagination{
        display: none;
    }
    .img-logo-home-mobile img{
        width: 60px !important;
    }
    .img-logo-home-mobile .owl-item {
        width: 60px !important;
    }
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
        display: block !important;
    }
    .arrow {
        position: absolute;
        border-radius: 3px;
        font-size: 26px;
        top: 26%;
      }
      
      .arrow:hover {
        background: #869791;
        color: #fff;
      }
      
      .next {
        right: 10px;
      }
      
      .prev {
        left: 10px;
      }
    .image-box-link{
        position: absolute;
    }
    .image-box-link{
        position: absolute;
        bottom: 6%;      
        z-index: 1;
    }
    .image-box-link {
        overflow-x: scroll;
    }
    div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
        display: none;
    }
    .image-box-link img{
width:90%;
padding: 1%;
    }

    .hero-main-wrapper .slick-arrow{
        display: block !important;
    }
    .hero-main-wrapper .carousel-inner,
    .hero-main-wrapper .carousel{
        height: 70vh;
    }
    .package-p h3 {
        font-size: 40px;
    }
    .reviewmobile{
        font-size: 20px ;
    }
    .progrs-img {
        margin-left: -80px;
    }
    .package-p span{
        font-size: 14px;
    }
    .mt-60{
        margin-top: 10% !important;
    }
    .bread-padding-top{
        margin-top:10% !important;
    }
    .tour-date-input{
        width: 57%;
    }
    .tour-date-icon{
        width: 43%;
    }
    .map-mobile{
margin-bottom: 20%;
    }
    .img-logolink{
width:50% !important;
    }

    .map-mobile .world-map-background img {
        width:100% !important;
        margin-top: 10%;
    }
    .ordered-list-disc li p {
        text-align: left !important;
    }
    .custom-input-group .date{
font-size: 10px;
appearance: initial;
color: #000;
border-bottom: 1px solid #000;
    }
    .hover-content h5{
        text-align: center !important;
    }
    .hover-content button{
        margin: auto;
    }
    .modal-dialog-scrollable {
        height: calc(100% - 4rem) !important;
    }
    .card-text{
        font-size: 14px;
    }
    .section-head-alpha-values p{
        font-size: 14px;
    }
    .section-head-alpha-values h2{
        font-size: 22px;
    }
    .vision-full-width p {
        text-align: center;
        font-size: 14px;
        padding: 4%;
    }
    .video-batch .slick-dots{
        bottom: 0px !important;
    }
    .pack-banner-home p{
        margin-bottom:25px !important;
        margin-top: 25px !important;
    }
    .testimonial-card-alpha .testimonial-body .testimonial-bottom{
        justify-content: center !important;
    }
    .testimonial-card-alpha .testimonial-body p{
        text-align: center !important;
        font-size: 14px !important;
    }

    .more-rec p, .section-head-alpha p{
        font-size: 14px !important;
    }
}
@media (min-width:325px) and (max-width:400px){
    .more-rec p, .section-head-alpha p{
        font-size: 12px !important;
    }
}
@media (min-width:420px) and (max-width:600px){
    .swiper-pagination-bullet{
        width:100px !important;
        height:70px !important;

      }
      .more-rec p, .section-head-alpha p{
        font-size: 12px !important;
    }
      .section-video {
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
        margin-top: 35% !important;
    }
}
@media (min-width:600px) and (max-width:991px){
    .breadcrumb-style-one h2 {
        transform: translateY(40px);
    }
    ul.breadcrumbb {
        padding: 39px 16px 10px;
        list-style: none;
        color: #3f9fcef5!important;
    }
    .fancy p{
        text-align: justify;
    }
    .swiper-pagination-bullet{
        width:100px !important;
        height:85px !important;

      }
      .section-video {
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
        margin-top: 35% !important;
    }
}
@media (min-width: 991px) and (max-width:1199px){
    .more-rec {
        min-height: 544px !important;
    }
    .testimonial-card-alpha .testimonial-body .testimonial-bottom{
        padding-top:40px;
    }
    .card-about-content {
        width: 183px;
        margin-left: 10px;
    }
    #Group_3903{
        top:-10px;
    }
    .content-dest-text p{
        padding:4px !important;
    }
    .hero4-content{
        max-width: 60% !important;
    }
    header .header-style-three .main-nav{
        display: block;
    }
.nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000;
    transition: all 0.45s ease-in-out;
}
.nav-toggle > .bar::before {
    width: 32px;
    transform: translateY(-8px);
    right: 0;
}
.nav-toggle > .bar::before, .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
}
.nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
}
.nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #000;
    transition: all 0.45s ease-in-out;
}
}
@media (min-width: 1199px){
.d-xl-none {
    display: none!important;
}
}
@media (min-width: 1199px){
.d-xl-flex {
    display: flex!important;
}
}
@media (min-width: 1199px){
.col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}
}
@media (min-width:1300px) and (max-width:1400px){
    header .header-style-three .main-nav ul li a{
        font-size: 12px !important;
    }
}

@media (min-width:1190px) and (max-width:1300px){
    #Group_3792{
        right: 10px !important;
    }
    header .header-style-three .main-nav ul li a{
        font-size: 10px !important;
    }
    .link-list li a {
        position: relative;
        padding-left: 20px;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
    }
    .contact-box .icon {
        color: #fff;
    }
    .widget.contact-widget .contact-lists .contact-box .icon {
        font-size: 40px;
    }
    .link-list {
        margin-bottom: 30px;
    }
    .link-list li {
        margin-top: 30px;
    }
    .desc h6 {
        color: #fff;
    }
    .desc a {
        color: white !important;
    }
    
    }
@media (max-width: 767px){
    .blog-gmma-niu{
        margin-bottom: 0px !important;
    }
    .icon-check p{
        text-align: left;
          }
    .headingpackages{
        font-size: 24px;
        margin-top: 8% !important;
    }
    .contact-form-wrap{
        background: transparent !important;
    }
    .testimonial-card-alpha .testimonial-body .testimonial-bottom .reviewer-info .reviewer-name{
        text-align: center;
    }
    .upcoming-tour-area {
margin-top:15% !important;
    }
    .world-map-area .world-map-wrap .single-location .location-disc{
        width:100% !important;
    }
    .values-mobile-title{
        padding-top: 13%;
        padding-bottom: 5%;
    }
    .mt-features-100{
        margin-top:30px !important;
    }
    .mt-150{
        margin-top: 30px !important;
    }
    .full-width{
padding-top: 1px !important;
    }
    .mission-full-width h2, .vision-full-width h2{
font-size: 22px;
    }
    .log {
        bottom: -25px !important;
    }
    .world-map-area .world-map-wrap .world-map-background img {
        object-position: right;
    }
    .DubaiContent img{
        padding: unset !important;
        max-width: 100%;
        max-height: 60%;
    }
    .single-location {
        background-color: #d3d3d321;
        padding: 10px;
        min-height: 240px;
        margin-left:5px;
        margin-right: 5px;
    }
    .image-niu-map{
        width: 30% ;
    }
    .destination-card-style-two-sts{
        margin-left: 5% !important;
    margin-right:5%;
   }
    .mobile-p-home{
        height:208px;
    }
    .join-breacr{
        background-position-x: -93px;
    }
    .hero4-content{
        color:#fff;
    }
    .accommodation-btns button {
margin:auto;
    }
    .more-update-section {
        background-color: white;
        margin-bottom: 30px !important;
    }
    .video-backg {
        width: 80% !important;
    }
    .video-backg h2 {
        margin-left:10px;
    }

    .apply-text {
        margin-top:10px !important;
    }
    .hero4-content{
        top:40% !important;
    }
.destination-card-style-two-sts .testimonial-card-beta{
    background-color: #d3d3d333 !important;
}
    .mission-mobile{
        background-color: #d3d3d333;
padding: 50px;
margin-top: 50px;
    }
    .card-number-1{
        position: relative;
    }
    .text-sts{
        color:#454545 !important;
        font-size: 20px !important;
    }
    .text-font-black{
        color:#454545 !important;
        font-size: 30px !important;
        font-weight: 600 !important;
    }
    .num-card h2{
width:50px;
height: 10px;
display: flex;
justify-content: center;
align-items: center;
    }
    .card-number-1{
        height:310px;
        margin-left:10px ;
        margin-right:10px;
    }
    .card-text-sts{
        margin-top:100px;
    }
    .num-card{
        position: absolute;
    }
    .section-dubai{
padding-top: 60px !important;
padding-bottom: 60px !important;
    }
    .text-mobile{
        max-width: 80%;
        margin: auto;
    }
    .image-about-background .slider-bg-1 h1{
        font-size: 20px !important;
        max-width: 85% !important;
        font-weight: 400;
    }
 
    .swiper-pagination-bullet{
        width: 38px !important;
        height: 38px !important;
    }
    .feature-card{
        margin-left: 10px !important;
        margin-right:10px !important;
    }
    .feature-card{
        display: block !important;
    }
    .feature-card .feature-img{
        max-width: 100% !important;
        min-height: unset !important;
    }
    .home4-video-area{
        height:auto !important;
    }
    .pack-banner-home p{
        margin-top:55px !important;
    }
    .feature-card .feature-content a.title{
        font-size: 14px !important;
    }

    .text-blog-wrapper {
        font-size: 22px !important;
        margin:30px auto 30px auto !important;
        font-weight: 600 !important;
    }
    .blog-wrapper p {
        text-align: center !important;
        font-size: 14px !important;
    }
    .mt-160{
margin-top:40% !important;
    }
    .image-about-background .slider-bg-1 {
        background-size: cover;

        background-repeat: no-repeat;
        padding: 150px 0 !important;
    }
    .hero-style-four .hero4-content{
        margin-left: 0px;
    }
    .hero4-content{
        left:0% !important;
    }
    .hero4-content.hero-content-about.hero-content-about-txt{
        top:50% !important;
    }
    .swiper-pagination {
display: flex;
justify-content: center;

    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        overflow: scroll !important;
        WebkitOverflowScrolling: "touch";
    }
    .swiper-pagination-bullet {
        overflow-x: scroll;
    }
    .footer-area {
        padding: 0px 2px !important;
    }
    .pack-banner-home{
        max-width: 100% !important;
    }
    .link-list li a{
        font-size: 12px !important;
    }
    .desc h6, .desc a {
        font-size: 12px !important;
    }
    .banner h2, .banner h6{
        font-size: 14px;
    }
    .banner strong{
        font-size: 22px;
    }
    .testimonial-text{
        font-size: 26px !important; 
    }
    .hero-content-about{
        max-width: 80%;
    }
    .partner-single{
        width:75%;
    }
    .slider-bg-about{
        height: 52vh !important;
    }
    .hero4-content{
        display: flex;
        justify-content: center;
    }
    .swiper-pagination-bullet{
        opacity: 1 !important;
        border-radius: 0 !important;
        background-repeat: no-repeat !important;
        background-size: cover;
        background-color: transparent !important;
        background-position: center !important;
        margin-left: 5px !important;

      }
      .hero4-content {
        top: 30% ;
        /* margin: auto; */
        left: 0;
    }
    .section-video {
        margin-top: 21% !important;
    }
    .section-video{
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
        margin-top:60%;
    }
    .hero-style-four .hero4-content p{
        font-size: 18px !important;
        max-width: 75%;
        text-align: center;
        margin: auto;
        width: 100%;
        height: 100%;

    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom:10px !important;
    }
    

    .card-absolute p{
        color:#000;
    }
    .hero4-content{
        width: 100% !important;
    }
    .hero-main-wrapper {
        height:65vh;
    }
    .video-btn-div{
        width:50px !important;
        height: 50px !important;
        line-height: 50px !important;
 
    }
    .hero-style-four {
        top: 60px !important;
    }
    .circle-div{
        display: flex;
        justify-content: center;
        margin:auto;
        width: 100%;
        position: absolute;
        bottom: -26%;
    }
.breadcrumb-style-one h2 {
position: absolute;
    font-size: 20px;
}
}

.circle-content p{
    text-align: center !important;
}
.content-dest p{
    font-size: 14px !important;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-style-four .slider-bg-2{
    height: 90vh;
}
.hero4-content{
top:0%;
    margin: auto;

}
.hero4-content{position:absolute;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;z-index:-1;}@-webkit-keyframes zoomin{0%{transform:scale(1)}100%{transform:scale(1.1)}}@keyframes zoomin{0%{transform:scale(1)}100%{transform:scale(1.1)}}
.hero5-content{position:absolute;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;z-index:-1}

@keyframes fadeInDown  
{
    0% { opacity: 0 !important; }
    100% { opacity: 1; }
  }


  .update-btn2:hover{
    box-shadow: inset 200px 0 0 0 #3f9fcef5!important;
    border:1px solid #3f9fcef5!important;
    color:#fff;
    transition: all .5s linear;
}
.update-btn2:hover a{
    color:#fff;
}

  .update-btn2 {

  }
.App p , .App span span{
color:#000 !important;
font-size: 18px;
font-weight: 400;
text-align: justify;
}

.App h2 {
    color:#000 !important;
}
.upcoming-tour-area{
}
.section-head-alpha  img{
    max-width: 370px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.footer-area{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    padding: 0 0px;
}
.video-section2{
    display: flex;
    margin: auto;
}
.video-section2  video{
    width: 100% !important;
}
.testimonial-card-alpha .testimonial-card-top .testimonial-thumb img {
    max-width: 90px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.testimonial-card-alpha{
    margin-left: 20px;
    margin-right:20px;
}
.testimonial-card-alpha:hover{
transform: scale(1.1);
margin-left: 30px;
}

.text-uppercase{
    text-transform: uppercase !important;
}
.welcome-dubai{
    margin-top:40px;
}
.banner{
    background-image: url(assets/images/dubai/bannerdubai.jpeg);
}

.hero4-content p {

    font-size: 40px !important;
}
.nav.nav-tabs {
    border: 0 none;
}
.nav-tabs > .nav-item {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    /* background: 0 0; */
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-tabs > li > a {
    background: #f1f1f1 !important;
    /* border: 0 none; */
    border-radius: 0;
    line-height: 24px;
    margin: 0;
    padding: 10px 0 12px;
}
.nav-link {
    display: block;
    /* padding: 0.5rem 1rem; */
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs > li > a span {
    transition: all 0.2s ease 0s;
}

span.image {
    display: block;
    left: 20px;
    position: absolute;
    top: 27px;
}
span.image.s-img {
    display: none;
}
.video-btn-div{
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 70px;
    z-index: 11;
}
.video-btn{
    color:white;
}

.home4-video-area {

    background-size: cover;
    background-repeat: no-repeat;
    height: 688px;
    display: flex;
    align-items: center;
    justify-self: center;
}
.home4-video-area .video-batch {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.home4-video-area .video-batch h3 {
    font-family: var(--font-island);
    font-weight: 400;
    font-size: 55px;
    letter-spacing: .03em;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 30px;
}
.video-batch h2 ,
.video-batch p{
    color:white;
    z-index: 9;
    position: relative;
}
.img-mob-1{
    display: flex;
    justify-content: flex-start;
    z-index: 9;
    position: relative;
}
.img-mob{
position: relative;
z-index: 9;
}
.home4-video-area{
    position: relative;
}
.home4-video-area::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    background-color: #000000ad;
}


.testimonial-overlay-img{
    display: none !important;
    background-color: white;
}
.testimonial-card-alpha:hover .testimonial-rating li svg{
color:white;
}
.section-head-alpha-values p {
    color: white;
    max-width: 73%;
    margin: auto;
}
.pack-banner-home{
    text-align: center;
margin: auto;
margin-bottom: 30px;
max-width: 40%;
}
.pack-banner-home h2{
    font-size: 16px;


}
.pack-banner-home p{
    font-weight: 800;
    font-size: 23px;
    line-height: 42px;
    color: #fff;
    margin: auto;
    margin-bottom: 60px;
}
.testimonial-card-alpha .testimonial-body .testimonial-bottom .testimonial-rating{
    display: none;
}
.fancy p{
    max-width: 90% !important;
}
.section-head-alpha{
    
}
.watch-text{
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.video-btn:hover {
    color: white;
}
.video-btn:hover .watch-text{
    font-weight: 600 !important;  
}
.watch-text:hover{
    font-weight: 600;  
}

.feature-card {
    max-width: 100%;
    min-height: 200px;
    /* display: -webkit-box; */
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-shadow: 0 0 64px rgb(17 17 17 / 10%); */
    box-shadow: 0 0 64px rgb(17 17 17 / 10%);
    border-radius: 10px;
    overflow: hidden;
    z-index: 99;
    position: relative;
    margin-left:30px;
}
.feature-card .feature-img {
    max-width: 66%;
    min-height: 360px;

}
.feature-card .feature-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.feature-card .feature-content {
    padding: 25px 30px;
    background: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
}
.feature-card .feature-content a.title {
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: #262339;
}

.feature-card .feature-content h5 {
    margin: 12px 0 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #304f47;
}
.feature-card .feature-content h5 i {
    color: #ff7f47;
    font-size: 18px;
}
.feature-card .feature-content strong {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #ff7f47;
}
.text-turquoise{
    color:#3f9fcef5!important;
}
.swiper-slide{
    animation: 1s chevron-enter;
    animation-duration: 2s;

}
@keyframes chevron-enter {

    
  }

  .sibling-2{
    text-align: center;
    z-index: 9;
    position: relative;
}
.sibling-2 .video-icon::before {
    background: var(--primary-color2);
}
.sibling-2 .video-icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    /* background: rgba(255,255,255,.5); */
    /* -webkit-animation: ripple-1 2s infinite ease-in-out; */
    animation: ripple-1 2s infinite ease-in-out;
    z-index: -1;
}
.sibling-2 .video-icon::after {
    background: white;
}
.sibling-2 .video-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(255,255,255,.3);
    z-index: -1;
    -webkit-animation: ripple-2 2s infinite ease-in-out;
    animation: ripple-2 2s infinite ease-in-out;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

@-webkit-keyframes ripple-1{0%{transform:scale(1);opacity:1}100%{transform:scale(1.9);opacity:0}}
@keyframes ripple-1{0%{transform:scale(1);opacity:1}100%{transform:scale(2.1);opacity:0}}
@-webkit-keyframes ripple-2{0%{transform:scale(1);opacity:1}100%{transform:scale(2.1);opacity:0}}
@keyframes ripple-2{0%{transform:scale(1);opacity:1}100%{transform:scale(2.1);opacity:0}}

@keyframes down-enter {
    0% { clip-path: inset(0 0 100% 0); }
    100% { clip-path: inset(0); }
  }
  .slide-animation-down{
    animation: 1s down-enter !important; 
  }

  .testimonial-card-alpha{
    margin-bottom: 50px;
    min-height: 500px !important;
  }
  .icon-check ul li svg{
    font-size: 24px;
    color: #000;
  }


  .testimonial-text{
    font-size: 35px;
    line-height: 42px;
    color: #2d373c;
  }

  .feature-card .feature-content a.title{
    font-size: 18px;
  }
  .feature-content {
    display: flex;
    flex-direction: column;
  }
  .feature-content a{
    margin-bottom: 20px;
  }
  .tripstick span{
    font-weight: 600;
  }

  .featured-imagebox-portfolio.style2 {
    z-index: 1;
    background-color: #fff;
    overflow: visible;
}

.featured-imagebox {
    margin: 15px 0;
}
.featured-imagebox, .featured-imagebox .featured-thumbnail {
    position: relative;
    /* overflow: hidden; */
}
.featured-imagebox-portfolio.style2:before {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.featured-imagebox, .featured-imagebox .featured-thumbnail {
    position: relative;
    /* overflow: hidden; */
}
.featured-imagebox-portfolio.style2 .featured-thumbnail img {
    width: 100%;
    max-width: none;
    height: 290px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: unset;
}
.featured-imagebox-portfolio.style2 .featured-content {
    position: absolute;
    background-color: #fff;
    padding: 47px 40px 7px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,.15);
}
.featured-imagebox-portfolio.style2 .featured-content:before {
    position: absolute;
    top: -11px;
    left: -11px;
    content: "";
    transform: rotate(0);
    -webkit-transform: rotate(0);
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    -webkit-transition: all .9s ease-out;
    -moz-transition: all .9s ease-out;
    transition: all .9s ease-out;
    border-color: rgba(0,0,0,.15);
    z-index: 9;
}
.featured-imagebox-portfolio.style2 .featured-title {
    padding-bottom: 15px;
}
.featured-imagebox-portfolio.style2 .featured-title h3 {
    margin-bottom: 0;
}

.featured-imagebox .featured-content .featured-title h3 {
    position: relative;
    overflow: hidden;
}
.featured-title h3 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 10px;
}
.featured-title h3 {
    text-align: start;
}
.featured-imagebox-portfolio.style2 .featured-desc {
    margin-bottom: 35px;
}
.featured-imagebox-portfolio.style2 .featured-content:after {
    position: absolute;
    bottom: -11px;
    right: -11px;
    content: "";
    transform: rotate(0);
    -webkit-transform: rotate(0);
    border: solid;
    border-width: 1px 0 0 1px;
    display: inline-block;
    padding: 5px;
    -webkit-transition: all .9s ease-out;
    -moz-transition: all .9s ease-out;
    transition: all .9s ease-out;
    border-color: rgba(0,0,0,.15);
}


.featured-imagebox-portfolio.style2:hover .featured-content {
    color: #fff;
    background-color: unset;
    z-index: 2;
}

.featured-desc p{
    font-size: 16px;
    text-align: justify;
    max-width: 100%;
}
.blog-thumb-niu{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all .9s ease-out;
    -moz-transition: all .9s ease-out;
    transition: all .9s ease-out;
}
.niu-blog-content{
    position: absolute;
    display: none;
}
.blog-thumb-niu::before{
    position: absolute;
    content: '';
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.blog-thumb-niu:hover::before{
    opacity: 1;
}
.blog-thumb-niu:hover .niu-blog-content{
    display: block;
justify-content: center;
width: 100%;
height: 100%;
align-items: center;
display: flex;
margin: auto;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
transition: all .2s ease-out;
position: absolute;
top:0;
left: 0;;
}
.niu-blog-content h4{
    color: white !important;
    -webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
transition: all .2s ease-out;
}
.color-highlight{
    color:#3f9fcef5!important;
   
}

.more-update-section{
    background-color: white;
    margin-bottom: 4%;
    position: relative;
}
.more-update-sectionnn  {
    background-color: white;
    margin-top: 200px;
    position: relative;
}

.partner-section {
position: relative;
padding-top: 10px;
}
.partner-single{
display: flex;
justify-content: center;
margin: auto;
}
.img-dest-card{
    position: relative;
    width:100%;
    height:100%;
    transition: all .5s ease-in-out;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.img-dest-card::before{
    position: absolute;
    content:'';
    top:0;
    left:0;
    bottom: 0;
right:0;
background-color: rgba(0, 0, 0, 0.629);
transition: all .3s ease-in-out;

}
.content-dest-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    transition: all .3s ease-in-out;

}
.content-dest-text p {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
padding: 10px;
max-width: 100% !important;
margin: unset;
}
.content-dest-text p {
    color:black;
}
.img-dest{
    opacity: 1;
}

.img-dest-card-1:hover .content-dest-text p{
    color:#000 !important;
    box-shadow: inset 800px 0 0 0 white!important;
    transition: all .4s linear;
}
.img-dest-card{

}
.img-dest.active{
    opacity: 1 !important;
}

.img-dest-card::before{
    opacity: 0;
}
.img-dest-card:hover .img-dest{
    opacity: 1;

}
.img-dest-card:hover p {
    color: #fff;
    transition: all .4s linear;
}
.img-dest-card:hover::before{
    opacity: 1;
}
.img-dest-card-1::before{
    opacity: 1 !important;
}
.img-dest-card-1 p{
    color:white;
}
.update-btn2{
width: 200px;
}
.box-tour .media-content .hover-content i{
margin-left:10px;
display: flex;
}
.update-btn2:hover a {
    color: #fff !important;
}
.box-tour .media-content .hover-content:hover i{
    display: block;
    color:white !important;
}
.update-btn2 a {
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
}
.update-btn2 a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width{
   background-color: #d3d3d321; 
   padding-top:30px;
}
.full-width-royal{
    background-color: #d3d3d321; 
    padding-top:50px;
}
.hover-content  h5{
    margin-bottom: 20px;
}
.blog-royal{
    background-color: white !important;
    min-height: 300px;
}
.blog-gte{
    background-color: white !important;
    min-height: 180px;
}
.blog-gte img {
    padding-top:60px;
}

.blog-royal .blog-thumb2{
    padding-top: 30px;
}
.blog-gte .blog-content{
    min-height: 160px;
}
.img-media img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.hover-content h5{
    text-align: left;
    font-weight: 600;
}
.bolg-niu-active::before{
    opacity: 1;
}

.bolg-niu-active .niu-blog-content{
    opacity: 1;

}

.bolg-niu-active .niu-blog-content{
    display: block;
justify-content: center;
width: 100%;
height: 100%;
align-items: center;
display: flex;
margin: auto;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
transition: all .2s ease-out;
position: absolute;
top:0;
left: 0;
}
.swiper-about .swiper-wrapper{
    display: flex;
    justify-content: center;

}

.hr-lines{
    font-size: 22px !important;
    margin: 30px auto 30px auto !important;
    font-weight: 600 !important;
    color: #454545 !important;
}

  .card-number{
    margin-top:100px;
  }
  .blog-thumb-niu:hover .bolg-niu-active .niu-blog-content{
display: none !important;
opacity: 0 !important;
  }
  .form-subscribe .form-control{
    border-radius: 0;
  }
  .hover-content h5{
    cursor: pointer;
  }
.mt-features-100{
    margin-top: 0px;
}
.card-text{
    text-align: center !important;
}
.swiper-pagination-bullet-active{
    background-color: transparent !important;
    opacity: 1 !important;
}
.text-blog-wrapper{
    color: #454545 !important;
    font-weight: 200;
    margin: 30px auto 20px auto;
    font-size: 28px;
}
.button-details{
    background-color: white;
    z-index: 999;
    position: relative;
}
.nav-pills-center{
    display: flex;
    justify-content: center;
}
.nav-link{
    margin-left:20px;
}
.check{
    width: 20px;
}
.check-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-about-background{
    background-size: cover;
    background-repeat: no-repeat;

}

.image-about-background .slider-bg-1{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding:250px 0;
}
.image-about-background .slider-bg-1 h1{
    color:white;
}

.bred-tour{
    background-size: cover;
}

#carouselExampleSlidesOnly {
    filter: drop-shadow(0px 3px 6px #CBCBCB29);
    background-color: white;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item {
    transition: 5s ease all !important;
    background-color: white;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item .row {
    max-width: 100vw;
    padding: 20px 0;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2 a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2.BrandLogo{
    justify-content: center;
    align-items: center;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2 a img {
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2:hover img {

}
#carouselExampleSlidesOnly .carousel-inner .carousel-item .row{
        height: 130px;
       }
    #carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2 a img {
        width: 60%;
    }
    #carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2 a img.RLF {
        width: 60%;
    }

    .feature-card .feature-content a.title{
        text-transform: uppercase;
    }
    .hover-content h5{
text-transform:capitalize;
    }
    .hotel-max-width{
        max-width: 80%;
        text-align: center !important;
        margin: auto;
    }

    .btn-footer{
        color: #fff !important;
    }
    .note{
        margin:unset !important;
        margin-top:20px;
    }
     .btn-footer:hover{
        color:#000 !important
    }
    .logo-partner{
        width: 100px;
    }
    .logo-about{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height:130px;
    }
    .logo-about img {
        width: 80px;
    }
    .logo-section-about{
        display: contents;
    }
    .logo-section-about .slick-dots{
        display: none !important;
    }
    .logo-section-about .slick-slider{
        margin-bottom: 0px;
        position: relative;
        z-index: 999;
    }
    

    .feature-content .atwo{
        color:#3f9fcef5!important;
    }

    @media (min-width:4000px) {
        .hero-style-four .hero4-content{
            top:60% !important;
        }
        .pack-banner-home p{
            margin-top: 80px;
        }
        .feature-card .feature-img{
            max-width: unset !important;
        }
        .more-rec {
            min-height: 618px !important;
        }
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
            bottom: 100px !important;
        }
        .line-orange {
            margin-left: 1250px;
        }
        .line-orange-one {
            margin-left: 754px !important;
        }
    }
    .fixed-img-banner svg{
        color:white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: auto;
    }  
  
         .ordered-list-disc li {
list-style: disc;
margin-left:40px;
         }
         .ordered-list-disc li p {
            margin: unset !important;
         }
         .apply-text h2{
            font-weight: 600;
         }
         .scrollup{
            position: absolute;
            right:40px;
            background-color: transparent;
            color:white;
            bottom: 120px;
         }
         .img-world-map{
            width:100%;
         }
.location-icon{
    opacity: 1;
    color:#000;
}
.location-icon svg {
    color:#000;
    
}
.DubaiContent  img{
padding: 20px;
}

.card-text a{
font-size: 12px;
}
.world-map-area .world-map-wrap .single-location .location-disc::before{
    display: none;
}
.img-dest img{
    width: 100%;
}
.text-small{
    text-transform: none !important;
}
/* .fixed-img-banner{
    animation: rotation 9s infinite linear;
} */

.fixed-img-banner img{

    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60% !important;
    transition: all .5s linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        background-image: url(assets/images/niu100.png);
    }
}
.table-striped .btn-dark{
    font-size: 12px;
}
.align-bline{
    align-items: baseline !important;
}
.text-initial{
    text-align: initial !important;
}
.world-map-area .world-map-wrap .single-location .location-disc{
    border-radius: 0px;
}
.table-stripped{
    border:1px solid #eee;
}

.baner-det-content-det{
    margin-top: 15%;
}

.media-content a:hover{
color:#0d6efd !important;
transition: all .2s linear;
}
.media-content a:hover i{
    color:#0d6efd !important;
transition: all .2s linear;
}
.media-content i:hover {
    color:#0d6efd !important;
    transition: all .2s linear;
}

.chaticon{
    display: none;
}
.fixed-img-banner:hover .img-chat{
    display: none !important;
}
.fixed-img-banner:hover .chaticon{
display: block !important;
}
.scrollup:hover{
color:white !important;
}
.sitemaptitle{
    font-size: 20px !important;
    margin: 10px !important;
}
.headingpackages{
    color: #454545 !important;
    font-size: 28px;
    font-weight: 200;
}
.mobile-map p ,
.mobile-map a{
font-size: 12px;
}
.mobile-map i{
    margin-right: 5px;
    color: #00000094;
}
.location-icon svg {
    color: #00000094;
}
.destination-card-style-two-sts .testimonial-card-beta .testimonial-card-body{
    justify-content: flex-start !important;
}
.logg-royal{
    bottom: -70px !important;
}

.fixed-img-banner{
    display: none !important;
}

.btn-primary{
background-color: #159BDB;
}

@media screen and (min-width: 576px){
.blog-section .post {
    display: grid;
    grid-template-columns: 40% 60%;
}

.blog-section .post .featured-post {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px !important;
}
.blog-section .post .post-content {
    padding: 25px;
}
.blog-section .post .post-content .cat-meta {
    margin-bottom: 11px;
    font-weight: 500;
}
.blog-section .post .post-content .cat-meta a {
    color: #3A78C9;
    font-size: 13px;
}
.blog-section .post .post-content h3 {
    margin-bottom: 10px;
}
.blog-section .post .post-content p {
    margin-bottom: 20px;
}

}
.blog-section .post {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
    margin-bottom: 30px;
}